html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  background-color: #00A7FF;
  color: #1c1c1c;
  font-family: 'Orbitron', sans-serif;
}

.hb-landing-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.hb-landing-bee {
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  height: 600px;
  width: 600px;
}

.hb-landing-bee:hover {
  cursor: pointer;
}

.hb-landing-bee.over {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  height: 625px;
  width: 610px;
}

.hb-stuff-page, .hb-projects-page {
  height: 100%;
  display: flex;
  justify-content: space-around;;
  align-items: center;
}

.hb-portals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.hb-portals-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.hb-portal {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 50%;
  height: 270px;
  width: 270px;
  margin: 10px;
  padding: 10px;
}

a.hb-portal, .hb-portal {
  text-decoration: none;
  letter-spacing: 0.4em;
  color: #444679;
  text-align: center;
}

a.hb-portal:hover, .hb-portal:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.75);
}

a.hb-portal:focus {
  outline: none;
}

.hb-portal-img {
  height: 200px;
}

.hb-portal-orbis, .hb-portal-frenchly {
  height: 160px;
  margin-top: 30px;
}

.hb-portal-vue {
  height: 160px;
  margin-top: 30px;
  position: relative;
  top: 5px;
}

.hb-portal-bee {
  position: relative;
  top: 15px;
}

.hb-projects-titles {
  font-size: 14pt;
}

.hb-nav-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
}

